<div class="contenedor">

<form id='messageForm'>
    <div class="mb-1 col-auto" >
      <input type="email" class="form-control rounded-0" id="email" aria-describedby="emailHelp" placeholder="Email">
    </div>
    <div class="mb-1">
      <input type="nombre" class="form-control rounded-0" id="nombre" placeholder="Nombre">
    </div>
    <div class="mb-1">
      <input type="apellido" class="form-control rounded-0" id="apellido" placeholder="Apellido">
    </div>
    <div class="mb-1">
      <input type="edad" class="form-control rounded-0" id="edad" placeholder="Edad">
    </div>
    <div class="mb-1">
      <input type="text" class="form-control rounded-0" id="text" placeholder="Mensaje">
    </div>
    <button type="submit" class="btn btn-warning text-white rounded-0 mt-3">Enviar</button>
  </form>
</div>
